body {
	background color: grey;
}
h1{
	color: blue;
	font-size: 90px;
	text-decoration: underline;
}
h2
{
	font-size: 45px;
	color: black;
}
h2 span{
	text-decoration: line-through;
}

.small{
	font-size: 12px
}
span{
	font-style: italic;
}